<h1> <%=@badge.title %></h1>
<%= render 'shared/errors', resource: @badge %>

<%= form_with model: [:admin,@badge], local: true do |form| %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :badge_title %>
  </p>
  <p>
    <%= form.label :image %>
    <%= form.text_field :image, id: :image_url %>
  </p>
  <p>
    <%= form.label :kind %>
    <%= form.select :kind,:collection => [["Все тесты одного уровня",'level'],["Первое прохождение",'first'],["Все тесты одной категории",'category']]  %>
  </p>

  <p><%= form.submit value=t('save')%></p>
<% end %>