<h1><%= t('.registry') %></h1>
<br>
<table class="table">
  <tr>
    <th scope="col">
      <%= ''%>
    </th>
    <th scope="col"><%= t('badge.index.kind') %></th>

  </tr>
  <tbody>
  <% @badges.each do |badge| %>
    <tr>
      <td><%= image_tag badge.image, size: "80x80" %></td>
      <td> <%= badge.title %></td>
    </tr>
  <% end %>
  </table>
