<h1>Тест <%= @test_passage.test.title %> </h1>

<p>Вопрос <%= @test_passage.question_now %> из <%= @test_passage.questions_count %></p>

<b>
  <%= @test_passage.current_question&.title %>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put, include_hidden: false do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label class: 'form-check-label' %>
    </p>
  <% end %>

  <p><%= form.submit 'дальше' %></p>
<% end %>
