<h1><%= t('.title',title: @test.title) %></h1>
<%=  "Timer:#{@test.timer}" %>
<br>
<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
<table>
  <tr>
    <th><%= t('.questions')%></th>
  </tr>
  <% @test.questions.each do |questions| %>
    <tr>
    <td><%= questions.title %></td>
    <td><%= link_to t('show'), admin_question_path(questions) %></td>
    <td> <%= link_to t('delete'), admin_question_path(questions), method: :delete, data: { confirm: 'Эй! Ты уверен?' } %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to t('edit'), edit_admin_test_path(@test) %></p>
<p><%= link_to t('back'), admin_tests_path %></p>


