<h1><%= t('.registry') %></h1>

<br>
<table class="table">
  <tr>
    <th scope="col" class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %></th>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('tests.index.Ñategory') %></th>
    <th scope="col"><%= t('.author') %></th>
    <th scope="col"><%= t('.questions') %></th>
    <th scope="col"><%= t('.actions') %></th>
  </tr>
  <tbody>
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.title %></td>
      <td><%= test.level %></td>
      <td><%= test.category.title %></td>
      <td><%= test.author&.name %></td>
      <td><%= test.questions.count %></td>
      <td>
        <% unless test.questions.empty? %>
          <%= button_to t('.start'), start_test_path(test) %></td>
        <% end %>
        </tr>
  <% end %>
  </tbody>
</table>